<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>All bugs</title>
	<link rel="stylesheet" href="/css/all_bugs.css">
	<link rel="stylesheet" href="/css/bodyh1h2.css">
	<link rel="icon" href="/favicon.ico">
</head>
<body>
	<h1>Truck Bug Tracker</h1>
	<h2>All bugs</h2>
	<div class="create-bug">
		<a href="/bug/create"><button>Create new bug</button></a>
	</div>
	<div class="to-index">
		<a href="/"><button>Back to Main Page</button></a>
	</div>
	<div class="bugs">
	{% for bug_id, bug_title in bugs %}
	<div class="bug">
		<h6 class="bug">Bug #{{bug_id}}</h6>
		<p class="bug">{{bug_title}}</p>
		<a href="/bug/{{bug_id}}" class="bug"><button>Go to bug</button></a>
	</div>
	{% endfor %}
	</div>
</body>
</html>