<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cancel bug</title>
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="stylesheet" href="/css/bodyh1h2.css">
</head>
<body>
	<h1>Bug #{{bug_id}} Cancelling</h1>
	{% if message %}
	<p>{{message}}</p>
	<a href="/bug/{{bug_id}}"><button>Go to bug.</button></a>
	{% endif %}
	<form method="POST" action="/bug/{{bug_id}}/cancel">
		<input type="password" name="psswrd" required placeholder="Password">
		<input type="submit" name="s" value="Submit">
	</form>
</body>
</html>