<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Close bug</title>
		<link rel="stylesheet" href="/css/bodyh1h2.css">
</head>
<body>
	<h2>Bug #{{ bug_id }}</h2>
	{% if message %}
	<p>{{message}}</p>
	{% endif %}
	<form method="post" action="/bug/{{bug_id}}/close" class="form-delete">
		<input type="password" name="psswd" placeholder="Bug delete password"><br>
		<p>Or</p><br>
		<input type="password" name="root_psswd" placeholder="Enter root password">
		<p class="responsibility">I am aware that I am removing the bug regardless of its status and I am ready to take responsibility in case of violation of the software development process by my action. I know that I will not be able to recover the bug.</p>
		<input type="checkbox" class="responsibility" name="i_know" required>
		<input type="submit" value="Submit">
	</form>
</body>
</html>