<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug-tracker</title>
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/bodyh1h2.css">
	<link rel="shortcut icon" href="/favicon.ico">
<body>
	<div class="h1">
	<h1 class="h1">Truck Bug Tracker</h1>
	</div>
	<main>
		<h3>Welcome to {{project_name}} bug tracker, based on Truck Bug Tracker</h3>
		<h4>You can easily <a href="/bug/create"><button>create new bug here</button></a> or <a href="/bug"><button>look at all bugs, ever created here</button></a></h4>
		<br><br><br>
		<link rel="import" href="https://maxmine2.ru/tbt/res/advert/ad{{ numb }}.html">
	</main>
</body>
</html>